.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local
client_secrets.json
token.json
historico_cortes.json
cookies.json
intro_onca.mp4
cookies.txt
corte_vertical_shorts.mp4
corte_horizontal.mp4
video_original.mp4
tiktok_cookies.txt